extends layout

block content
  h1(class='department--title') Shop by #{title}
  
  div(class='department--list')   
    each department in departments 
      a(href=department.url, class='text-decoration-none') #{department.name}
    else 
      p There are no departments  


  a(href='/inventory/department/create') Create Department    


