extends layout 

block content 

    h1= title 

    form(method='POST', action='')
        div.form-group
            label(for='item_name')
            input#item_name.form-control(type='text', placeholder='Enter item name', name='item_name', value=(item===undefined?'':item.name))
        
        div.form-group
            label(for='item_category')
            select#item_category.form-control(type='text', required='true', name='item_category')
                for category in categories 
                    option(value=category._id) #{category.name}

        div.form-group
            label(for='item_price')
            input#item_price.form-control(type='text', placeholder='Enter item price', name='item_price', value=(item===undefined?'':item.price))
            
        div.form-group
            label(for='item_units_in_stock')
            input#item_units_in_stock.form-control(type='text', placeholder='Enter item units in stock', name='item_units_in_stock', value=(item===undefined?'':item.number_in_stock))

        div.form-group
            label(for='item_description')
            input#item_description.form-control(type='text', placeholder='Enter item description', name='item_description', value=(item===undefined?'':item.description))

        button.btn.btn-primary(type='submit') Create

    if errors
        ul
        for error in errors
            li!= error.msg    